body {
	color: #ecf0f1;
	font-family: "Open Sans", Arial;
	font-size: 16px;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

header {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 99;
}

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner {
	height: 600px;
	text-align: center;
	background-color: #2d3436;
}

.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
}

.menu {
	list-style: none;
	display: flex;
}

.menu__link {
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	transition: 0.5s;
}

.menu__link:hover {
	color: #fc5c65;
	transition: 0.5s;
}

.menu-item {
	margin-left: 25px;
	position: relative;
}

.menu-item:after {
	content: "|";
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 0px;
	left: 100%;
	margin-left: 6px;
}

.menu-item:last-child:after {
	display: none;
}

.informer {
	display: flex;
	margin-top: 60px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 36px;
	text-transform: uppercase;
}

h1 {
	color: #fc5c65;
}

.opacity {
opacity: 0.7;
}

.wrap-content {
	height: auto;
	background-color: rgb(45, 52, 54);
}

.content {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding-bottom: 40px;
}

.content_item {
	width: 370px;
	height: 270px;
	margin: 0 20px;
	margin-top: 50px;
	box-shadow: 0 0 10px rgba(99, 110, 114,0.15);
}


.content_img {
	width: 370px;
	height: 270px;
}

.button {
	display: flex;
	justify-content: center;
	max-width: 80px;
	margin: 0 auto;
	margin-top: 15px;
 text-decoration:none; 
 text-align:center; 
 padding:15px 30px; 
 border: none; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:20px "Open Sans", Arial; 
 font-weight:bold; 
 color:white;  
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); 
 filter: alpha(opacity=50); 
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition:  all 0.5s ease-in-out;
 -o-transition:  all 0.5s ease-in-out;
 transition:  all 0.5s ease-in-out;}

 .button:hover{
 padding:15px 30px; 
 border:none; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:20px "Open Sans", Arial; 
 font-weight:bold; 
 color:#fc5c65; 
}
