* {
  box-sizing: border-box;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.picture-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 1.5rem;
}

.ring {
  flex: 0 0 calc(60% - 10px);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid green;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.thumb {
  display: inline-block;
  max-width: 200px;
  padding: 10px;
  border: 1px solid blue;
}

@media all and (min-width: 1024px) {
  .ring {
    flex: 0 0 calc((100% / 3) - (40px / 3))
  }
}
@media all and (min-width: 1240px) {
  .ring {
    flex: 0 0 calc((100% / 6) - (100px / 6))
  }
}